
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h1> @ViewData["Greetings"] , Class !!!</h1>

<h1> @ViewBag.Greetings , Class !!!</h1>

@{ 
  var m = TempData["Greetings"];
}

<h1> @m, Class !!!</h1>
